.price {
  padding-top: 19px;
  background-color: $grey-blue;
  color: $white;
  outline: 2px solid blue;
  outline-offset: -3px;
}

.price__title,
.price__cost {
  margin: 0;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.price__title {
  margin-bottom: 19px;

  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}

.price__cost {
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.price__field {
  border: 2px solid $grey;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: $white;
}

.price__field-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.price__field-label {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__title--empty,
.price__field--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}
